<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort habr comments</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <label for="sort-select"></label>

    <select name="Sort By:" id="sort-select">
        <option value="top" selected>Sort By: Top</option>
        <option value="controversial">Sort By: Controversial</option>
    </select>
    <input type="text" name="habr_url" value="{{ habr_url }}" size="40"
           placeholder="https://habr.com/ru/post/348728/">
    <button type="submit">Submit</button>
</form>
<ul>
    {% if comments %}
    {% for comment in comments %}
    <li>
        <h4><a target="_blank" href="{{ comment.user_url }}">{{ comment.username }}</a> <span class='score'>
            {{ comment.score }}</span> {{ comment.votes }} {{ comment.time }}
            <a target="_blank" href="{{ comment.comment_url }}">Перейти к комментарию </a></h4>
        <pre>{{ comment.raw_comment|safe }}</pre>
    </li>
    {% endfor %}
    {% endif %}
</ul>
</body>
</html>